.container {
	display: flex;
}

.col {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	flex: 3;
}

#sketch-div {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	/* align-items: center;  */
}

body {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 350;
	letter-spacing: 2px;
	margin: 0 100px;
}

h4,
p,
ul {
	color: white;
}

img {
	width: 90%;
	padding-bottom: 130px;
}

.story {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.instructions {
	width: 25%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	justify-content: space-between;
}

.story p {
	font-weight: 100;
	letter-spacing: 2px;
}

.instructions p {
	padding: 5px;
	display: flex;
	align-content: center;
	font-weight: 100;
	letter-spacing: 2px;
}
a { color: inherit; } 

.tag-line {
  color: gray;
  color: inherit;
	font-size: .8rem;
  padding-top: 10px;
  
}
